<% layout('layout_hero') -%>
<div class="ui vertical segment first">
  <div class="ui container grid">
    <div class="two column center aligned stackable row">
      <div class="six wide column" style="margin-right: 0; padding-right: 5px;">
        <img class="ui bordered image fadeIn" src="/images/hanover-contact-la.png" data-image="/images/contact-la-hover.png"/>
        <div class="ui hidden divider"></div>
        <div class="ui grid">
          <div class="two column row">
            <div class="ten wide column">
              <h3 class="ui left aligned medium header">
                <a href="https://www.google.com/maps/place/1888+Century+Park+E+%231110,+Los+Angeles,+CA+90067/@34.0617198,-118.4147583,17.28z/data=!4m5!3m4!1s0x80c2bbf37d8fcd3b:0xba012c3646897c50!8m2!3d34.0611909!4d-118.4138943" target="_blank">
                  LOS ANGELES &nbsp;<i class="fa fa-map-marker" aria-hidden="true"></i></a>
                <br/>
                <span class="light-text">1888 Century Park East <br/>
              Suite 1110 <br/>
                Los Angeles, CA 90067</span>
              </h3>
            </div>
            <div class="six wide column">
              <h3 class="ui left aligned small header">
                Michael Lowinger <br/>
                <span class="light-text">
                  (310) 743-0080<br/>
                   <i class="fa fa-linkedin " aria-hidden="true"></i> &nbsp;&nbsp;
                   <i class="fa fa-envelope " aria-hidden="true"></i>
                </span>
              </h3>
              <h3 class="ui left aligned small header">
                Mark Macedo <br/>
                <span class="light-text">
                  (310) 466-5762<br/>
                   <i class="fa fa-linkedin " aria-hidden="true"></i> &nbsp;&nbsp;
                   <i class="fa fa-envelope " aria-hidden="true"></i>
                </span>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="six wide column" style="margin-left: 0; padding-left: 5px;">
        <img class="ui bordered image fadeIn" src="/images/hanover-contact-sf.png" data-image="/images/contact-sf-hover.png"/>
        <div class="ui hidden divider"></div>
        <div class="ui grid">
          <div class="two column row">
            <div class="ten wide column">
              <h3 class="ui left aligned medium header">
                <a href="https://www.google.com/maps/place/777+California+Ave,+Palo+Alto,+CA+94304/@37.4224983,-122.147512,17.78z/data=!4m5!3m4!1s0x808fbae92b98275b:0xb85ea1eaf8e4d4bd!8m2!3d37.422566!4d-122.146441" target="_blank">
                  PALO ALTO &nbsp; <i class="fa fa-map-marker" aria-hidden="true"></i></a>
                <br/>
                <span class="light-text">777 S. California Ave <br/>
                Palo Alto, CA 90067</span>
              </h3>
            </div>
            <div class="six wide column">
              <h3 class="ui left aligned small header">
                Ash Baragoush <br/>
                <span class="light-text">
                  (424) 653-2524<br/>
                   <i class="fa fa-linkedin " aria-hidden="true"></i> &nbsp;&nbsp;
                   <i class="fa fa-envelope " aria-hidden="true"></i>
                </span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="four column row">-->
    <!--<div class="eight wide column">-->
    <!--<div class="two column row">-->
    <!--<div class="left aligned eight wide column">-->
    <!--<h3 class="ui medium header">LOS ANGELES <br/>-->
    <!--1888 Century Park East <br/>-->
    <!--Suite 1110 <br/>-->
    <!--Los Angeles, CA 90067-->
    <!--</h3>-->
    <!--</div>-->
    <!--<div class="left aligned eight wide column">-->
    <!--<h4 class="ui small header">Michael Lowinger<br/>-->
    <!--(310) 743-0080<br/>-->
    <!--<i class="fa fa-linkedin " aria-hidden="true"></i> &nbsp;&nbsp;-->
    <!--<i class="fa fa-envelope " aria-hidden="true"></i> &nbsp;&nbsp;</h4>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="eight wide column">-->
    <!--<div class="two column row">-->
    <!--<div class="left aligned eight wide column">-->
    <!--<h3 class="ui medium header">LOS ANGELES <br/>-->
    <!--1888 Century Park East <br/>-->
    <!--Suite 1110 <br/>-->
    <!--Los Angeles, CA 90067-->
    <!--</h3>-->
    <!--</div>-->
    <!--<div class="left aligned eight wide column">-->
    <!--<h4 class="ui small header">Michael Lowinger<br/>-->
    <!--(310) 743-0080<br/>-->
    <!--<i class="fa fa-linkedin " aria-hidden="true"></i> &nbsp;&nbsp;-->
    <!--<i class="fa fa-envelope " aria-hidden="true"></i> &nbsp;&nbsp;</h4>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
