<% layout('layout_main') -%>
<div class="ui vertical masthead center aligned grid index">
  <div class="column">
    <h1 class="ui huge inverted header">
      Real Estate JV Equity.
    </h1>
    <h2 class="ui huge inverted header">
      Relationship Driven. Institutional Results.
    </h2>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
  </div>
</div>

