<% layout('layout_main_test') -%>
<style type="text/css">
</style>
<div class="ui inverted vertical masthead center aligned segment" style="background: url('../images/home-hero-image-medium.jpg') no-repeat">
  <!-- mobile nav menu -->
  <div class="ui right vertical menu wide sidebar">
    <a class="item sidebar-close" style="text-align: right !important;"><i class="fa fa-times" aria-hidden="true"></i></a>
    <a class="item home" href="/home">HOME</a>
    <a class="item about" href="/about">ABOUT</a>
    <a class="item strategies" href="/strategies">STRATEGIES</a>
    <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
    <a class="item team" href="/team">TEAM</a>
    <a class="item contact" href="/contact">CONTACT</a>
    <a class="item login" href="/login">LOGIN</a>
  </div>
  <div class="ui top fixed secondary menu desktop-group">
    <div class="ui container">
      <a class="hanover-logo" href="/"><img src="/images/hanover_logo.png"/></a>
      <i class="fa fa-bars" aria-hidden="true" style="color: white; font-size: 2em; display: none;"></i>
      <div class="ui right secondary menu">
        <a class="item home" href="/home">HOME</a>
        <a class="item about" href="/about">ABOUT</a>
        <a class="item strategies" href="/strategies">STRATEGIES</a>
        <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
        <a class="item team" href="/team">TEAM</a>
        <a class="item contact" href="/contact">CONTACT</a>
        <a class="item login" href="/login">LOGIN</a>
      </div>
    </div>
  </div>

  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>

  <div class="ui text container">
      <h1 class="ui huge inverted header">
        Real Estate JV Equity.
      </h1>
      <div class="desktop-group">
        <h2 class="ui huge inverted header">
          Relationship Driven. Institutional Results.
        </h2>
      </div>
      <div class="mobile-group">
        <h2 class="ui huge inverted header">
          Relationship Driven. <br/>Institutional Results.
        </h2>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui hidden divider"></div>
      <div class="desktop-group">
        <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
      </div>
      <div class="mobile-group">
        <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a><br/><br/>
        <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
      </div>
  </div>

</div>


<div class="ui stackable grid" style="margin-top: 10px !important; margin-bottom: -20px !important;">
  <div class="two column row">
    <div class="thirteen wide column desktop-group">
      <span class="text">1888 Century Park East Suite 1110  Los Angeles, CA 900068 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;  © 2017 Hanover Financial LLC &nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;  Website by Maximilan Li</span>
    </div>
    <!--<div class="thirteen wide column mobile-group">-->
      <!--<span class="text">1888 Century Park East Suite 1110  Los Angeles, CA 900068g </span><br/><br/><span class="text"> © 2017 Hanover Financial LLC</span><br/><span-->
              <!--class="text"> Website by Maximilan Li</span>-->
    <!--</div>-->
    <div class="three wide column">
      <a class="popupHelp"><span class="text"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Join Our Mailing List</span></a>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
