<% layout('layout_main') -%>
<div class="ui vertical masthead segment center aligned index">
  <div class="column">
    <div class="ui hidden divider"></div>
    <h1 class="ui huge inverted header">
      Real Estate JV Equity.
    </h1>
    <div class="desktop-group">
      <h2 class="ui huge inverted header">
        Relationship Driven. Institutional Results.
      </h2>
    </div>
    <div class="mobile-group">
      <h2 class="ui huge inverted header">
        Relationship Driven. <br/>Institutional Results.
      </h2>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="desktop-group">
      <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
    </div>
    <div class="mobile-group">
      <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a><br/><br/>
      <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
    </div>
  </div>
</div>
<div class="ui vertical footer segment index mobile-group">
  <div class="ui hidden divider"></div>
  <div class="ui stackable grid container">
    <div class="two column row">
      <div class="thirteen wide column">
        <span class="text">1888 Century Park East Suite 1110  Los Angeles, CA 900068 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;  © 2017 Hanover Financial LLC &nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;  Website by Maximilan Li</span>
      </div>
      <div class="three wide column">
        <a class="popupHelp"><span class="text"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Join Our Mailing List</span></a>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

<script>
  $(function() {

    //target active menu links
    if (window.location.pathname === '/' || window.location.pathname === '/home')
      $('.right.secondary.menu .item.home').addClass('active');


    var movementStrength = 20;
    var height = movementStrength / $(window).height();
    var width = movementStrength / $(window).width();
    $(".index").mousemove(function(e){
      var pageX = e.pageX - ($(window).width() / 2);
      var pageY = e.pageY - ($(window).height() / 2);
      var newvalueX = width * pageX ;
      var newvalueY = height * pageY;
      $('.index').css("background-position", newvalueX+"px     "+newvalueY+"px");
    });
  });
</script>

