<% layout('layout_main') -%>
<style type="text/css">
</style>
<div class="ui inverted vertical masthead center aligned segment index" style="background: url('../images/home-hero-image-medium-light.png') no-repeat">
  <!-- mobile nav menu -->
  <div class="ui right vertical menu wide sidebar">
    <a class="item sidebar-close" style="text-align: right !important;"><i class="fa fa-times" aria-hidden="true"></i></a>
    <a class="item home" href="/home">HOME</a>
    <a class="item about" href="/about">ABOUT</a>
    <a class="item strategies" href="/strategies">STRATEGIES</a>
    <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
    <a class="item team" href="/team">TEAM</a>
    <a class="item contact" href="/contact">CONTACT</a>
    <a class="item login" href="/login">LOGIN</a>
  </div>
  <div class="ui fluid secondary menu index" style="margin-top: 14px !important;">
    <div class="ui container index">
      <a class="hanover-logo" href="/"><img src="/images/hanover_logo.png"/></a>
      <i class="fa fa-bars" aria-hidden="true" style="color: white; font-size: 2em; display: none; padding-top: 15px;"></i>
      <div class="ui right secondary menu">
        <a class="item home" href="/home">HOME</a>
        <a class="item about" href="/about">ABOUT</a>
        <a class="item strategies" href="/strategies">STRATEGIES</a>
        <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
        <a class="item team" href="/team">TEAM</a>
        <a class="item contact" href="/contact">CONTACT</a>
        <a class="item login" href="/login">LOGIN</a>
      </div>
    </div>
  </div>
  <div class="ui text container">
    <h1 class="ui huge inverted header">
      Real Estate JV Equity.
    </h1>
    <div class="desktop-group">
      <h2 class="ui huge inverted header">
        Relationship Driven. Institutional Results.
      </h2>
    </div>
    <div class="mobile-group">
      <h2 class="ui huge inverted header">
        Relationship Driven. <br/>Institutional Results.
      </h2>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="desktop-group">
      <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
    </div>
    <div class="mobile-group">
      <a href="/strategies"><button class="ui inverted huge button">Our Strategies</button></a><br/><br/>
      <a href="/portfolio"><button class="ui inverted huge button">Our Portfolio</button></a>
    </div>
  </div>

</div>


<div class="ui stackable container grid footer index" style="margin-top: 10px !important; margin-bottom: -20px !important;">
  <div class="two column row">
    <div class="thirteen wide column desktop-group">
      <span class="text">1888 Century Park East, Suite 1110 &nbsp; Los Angeles, CA 90067 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;  © 2017 Hanover Financial LLC &nbsp;&nbsp;&nbsp;  | &nbsp;&nbsp;&nbsp;  Website by <a href="http://maxmli.com" target="_blank">Maximilan Li</a></span>
    </div>
    <div class="thirteen wide column mobile-group" style="display: none;">
    <span class="text">1888 Century Park East Suite 1110<br/>Los Angeles, CA 90067 </span><br/><br/><span class="text"> © 2017 Hanover Financial LLC</span><br/><span
    class="text"> Website by <a href="http://maxmli.com" target="_blank">Maximilan Li</a></span>
    </div>
    <div class="three wide column">
      <a class="popupHelp" style="cursor: pointer;"><span class="text"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Join Our Mailing List</span></a>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>

<div class="ui small modal helpModal">
  <div class="ui basic padded segment">
    <div class="ui grid centered container">
      <div class="row">
        <div class="right aligned column">
          <span class="closeModal" style="cursor: pointer;">X</span>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide center aligned column">
          <div class="ui large header">
            Thank you for your interest!<br/>
            Please fill out the information below.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <form class="ui form">
            <div class="field">
              <label>Name</label>
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
              <label>Email</label>
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="field">
              <label>Text</label>
              <textarea></textarea>
            </div>
            <button class="ui fluid button" type="submit" style="background-color:#00779f"><span
                      style="color: #FFFFFF">Submit</span></button>
          </form>
        </div>
      </div>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<script>
  $(function() {

    //target active menu links
    if (window.location.pathname === '/' || window.location.pathname === '/home')
      $('.right.secondary.menu .item.home').addClass('active');


    var movementStrength = 10;
    var height = movementStrength / $(window).height();
    var width = movementStrength / $(window).width();
    $(".index").mousemove(function(e){
      var pageX = e.pageX - ($(window).width() / 2);
      var pageY = e.pageY - ($(window).height() / 2);
      var newvalueX = width * pageX ;
      var newvalueY = height * pageY;
      $('.index.masthead').css("background-position", newvalueX+"px     "+newvalueY+"px");
    });

    $(document).on('click', '.popupHelp', function () {
      $('.helpModal')
        .modal('show');
    });

    //modal close
    $(document).on('click', '.closeModal', function () {
      $('.helpModal')
        .modal('hide all');
    });
  });
</script>