<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hanover Financial</title>

  <!-- CSS -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/dependencies/semantic.css">
  <link rel="stylesheet" href="/stylesheets/dependencies/animate.css">
  <link rel="stylesheet" href="/stylesheets/layout_main.css">
  <link rel="stylesheet" href="/stylesheets/layout_hero.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <link rel="stylesheet" href="/stylesheets/strategies.css">

  <script src="https://use.fontawesome.com/1c1009ad3f.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="/js/dependencies/jquery.animateNumber.min.js"></script>
  <script src="/js/dependencies/wow.min.js"></script>
</head>
<body class="body-main">
<!-- mobile nav menu -->
<div class="ui right vertical menu wide sidebar">
  <a class="item sidebar-close" style="text-align: right !important;"><i class="fa fa-times" aria-hidden="true"></i></a>
  <a class="item home" href="/home">HOME</a>
  <a class="item about" href="/about">ABOUT</a>
  <a class="item strategies" href="/strategies">STRATEGIES</a>
  <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
  <a class="item team" href="/team">TEAM</a>
  <a class="item contact" href="/contact">CONTACT</a>
  <a class="item login" href="/login">LOGIN</a>
</div>
<div class="ui top fixed secondary menu desktop-group">
  <div class="ui container">
    <a class="hanover-logo" href="/"><img src="/images/hanover_logo.png"/></a>
    <i class="fa fa-bars" aria-hidden="true" style="color: white; font-size: 2em; display: none;"></i>
    <div class="ui right secondary menu">
      <a class="item home" href="/home">HOME</a>
      <a class="item about" href="/about">ABOUT</a>
      <a class="item strategies" href="/strategies">STRATEGIES</a>
      <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
      <a class="item team" href="/team">TEAM</a>
      <a class="item contact" href="/contact">CONTACT</a>
      <a class="item login" href="/login">LOGIN</a>
    </div>
  </div>
</div>
<div class="ui top secondary menu mobile-group">
  <div class="ui container">
    <a class="hanover-logo" href="/"><img src="/images/hanover_logo.png"/></a>
    <i class="fa fa-bars" aria-hidden="true" style="color: white; font-size: 2em; display: none;"></i>
    <div class="ui right secondary menu">
      <a class="item home" href="/home">HOME</a>
      <a class="item about" href="/about">ABOUT</a>
      <a class="item strategies" href="/strategies">STRATEGIES</a>
      <a class="item portfolio" href="/portfolio">PORTFOLIO</a>
      <a class="item team" href="/team">TEAM</a>
      <a class="item contact" href="/contact">CONTACT</a>
      <a class="item login" href="/login">LOGIN</a>
    </div>
  </div>
</div>
<%- body -%>
<script src="/js/dependencies/semantic.js"></script>
<script>
  $(function () {
    //sidebar open
    $('.fa-bars').click(function () {
      $('.sidebar')
        .sidebar({
          // Overlay will mean the sidebar sits on top of your content
          transition: 'overlay',
          mobileTransition: 'overlay'
        }).sidebar('show')
    });
    //sidebar close
    $('.sidebar-close').click(function () {
      $('.sidebar')
        .sidebar('hide');
      $('body').removeClass('pushable');
    });
  })
</script>

</body>
</html>