<% layout('layout_hero') -%>
<div class="ui vertical segment first">
  <div class="ui center aligned grid container">
    <div class="four column stackable row">
      <div class="five wide left aligned column">
        <span class="sub-heading">FILTER BY TYPE</span><br/><br/>
        <select class="ui dropdown">
          <option value="multi-family">MULTI-FAMILY</option>
          <option selected value="net-lease">NET LEASE</option>
        </select>
      </div>
      <div class="two wide column border-right" style="margin-right: 0;">
        <span class="sub-heading">LAUNCHED</span><br/><br/>
        <span class="large-text">1999</span>
      </div>
      <div class="two wide column border-right" style="margin-right: 0;">
        <span class="sub-heading">JOINT VENTURES</span><br/><br/>
        <span class="large-text countUp3">0</span>
      </div>
      <div class="two wide column border-left">
        <span class="sub-heading" style="margin-left: 80px;">FUNDED</span><br/><br/>
        <span class="large-text">$<span class="countUp4">0</span></span>
      </div>
    </div>
  </div>
</div>
<!-----------------------------NET LEASE----------------------------------->
<div class="ui inverted vertical center aligned segment fourth net-lease">
  <h1 class="ui inverted large header">NET LEASE</h1>
</div>
<div class="ui vertical segment fifth net-lease">
  <div class="ui stackable grid container">

    <!-------NET-LEASE-ONE--------->
    <div class="row">
      <div class="center aligned four wide column">
        <a><img class="ui medium bordered image" data-modal="net-lease-one" src="/images/aldi.png"></a>
      </div>
      <div class="left aligned eight wide column">
        <a>
          <div class="ui large header" data-modal="net-lease-one"><br/>ALDI Grocery Store</div>
        </a>
        <div class="ui medium header">NNN Retail Investment<br/>Arcadia, CA</div>
      </div>
      <div class="center aligned four wide column">
        <br/><br/>
        <a>
          <button class="ui huge basic secondary button" data-modal="net-lease-one">Learn More</button>
        </a>
      </div>

      <div class="ui modal" id="net-lease-one">
        <div class="ui basic padded segment">
          <div class="ui grid container">
            <div class="row">
              <div class="right aligned column">
                <span class="closeModal" data-modal="net-lease-one">X</span>
              </div>
            </div>
            <div class="two column center aligned row">
              <div class="four wide column">
                <img class="ui medium bordered image" src="/images/aldi.png">
              </div>
              <div class="ten wide column">
                <div class="ui left aligned large header">ALDI Grocery Store</div>

                <table class="ui very basic table" style="font-size: 1.2em;">
                  <tbody>
                  <tr>
                    <td class="seven wide category">Date Acquired</td>
                    <td class="nine wide  right aligned category-value">August 2013</td>
                  </tr>
                  <tr>
                    <td>Date Sold</td>
                    <td class="category-value right aligned">January 2015</td>
                  </tr>
                  <tr>
                    <td>Hanover Equity</td>
                    <td class="category-value right aligned">80%</td>
                  </tr>
                  <tr>
                    <td>Project Capitalization</td>
                    <td class="category-value right aligned">$19,000,000</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td class="category-value right aligned">Los Angeles</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td class="category-value right aligned">Multi-Family Development</td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td class="category-value right aligned">15,400 Sq. Ft.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <!-------NET-LEASE-TWO--------->

    <div class="row">
      <div class="center aligned four wide column">
        <a><img class="ui medium bordered image" data-modal="net-lease-two" src="/images/aldi.png"></a>
      </div>
      <div class="left aligned eight wide column">
        <a>
          <div class="ui large header" data-modal="net-lease-two"><br/>ALDI Grocery Store 2</div>
        </a>
        <div class="ui medium header">NNN Retail Investment<br/>Arcadia, CA</div>
      </div>
      <div class="center aligned four wide column">
        <br/><br/>
        <a>
          <button class="ui huge basic secondary button" data-modal="net-lease-two">Learn More</button>
        </a>
      </div>

      <div class="ui modal" id="net-lease-two">
        <div class="ui basic padded segment">
          <div class="ui grid container">
            <div class="row">
              <div class="right aligned column">
                <span class="closeModal" data-modal="net-lease-two">X</span>
              </div>
            </div>
            <div class="two column center aligned row">
              <div class="four wide column">
                <img class="ui medium bordered image" src="/images/aldi.png">
              </div>
              <div class="ten wide column">
                <div class="ui left aligned large header">ALDI Grocery Store 2</div>

                <table class="ui very basic table" style="font-size: 1.2em;">
                  <tbody>
                  <tr>
                    <td class="seven wide category">Date Acquired</td>
                    <td class="nine wide  right aligned category-value">August 2013</td>
                  </tr>
                  <tr>
                    <td>Date Sold</td>
                    <td class="category-value right aligned">January 2015</td>
                  </tr>
                  <tr>
                    <td>Hanover Equity</td>
                    <td class="category-value right aligned">80%</td>
                  </tr>
                  <tr>
                    <td>Project Capitalization</td>
                    <td class="category-value right aligned">$19,000,000</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td class="category-value right aligned">Los Angeles</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td class="category-value right aligned">Multi-Family Development</td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td class="category-value right aligned">15,400 Sq. Ft.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui divider"></div>

    <!-------NET-LEASE-THREE--------->

    <div class="row">
      <div class="center aligned four wide column">
        <a><img class="ui medium bordered image" data-modal="net-lease-three" src="/images/aldi.png"></a>
      </div>
      <div class="left aligned eight wide column">
        <a>
          <div class="ui large header" data-modal="net-lease-three"><br/>ALDI Grocery Store 3</div>
        </a>
        <div class="ui medium header">NNN Retail Investment<br/>Arcadia, CA</div>
      </div>
      <div class="center aligned four wide column">
        <br/><br/>
        <a>
          <button class="ui huge basic secondary button" data-modal="net-lease-three">Learn More</button>
        </a>
      </div>

      <div class="ui modal" id="net-lease-three">
        <div class="ui basic padded segment">
          <div class="ui grid container">
            <div class="row">
              <div class="right aligned column">
                <span class="closeModal" data-modal="net-lease-three">X</span>
              </div>
            </div>
            <div class="two column center aligned row">
              <div class="four wide column">
                <img class="ui medium bordered image" src="/images/aldi.png">
              </div>
              <div class="ten wide column">
                <div class="ui left aligned large header">ALDI Grocery Store 3</div>

                <table class="ui very basic table" style="font-size: 1.2em;">
                  <tbody>
                  <tr>
                    <td class="seven wide category">Date Acquired</td>
                    <td class="nine wide  right aligned category-value">August 2013</td>
                  </tr>
                  <tr>
                    <td>Date Sold</td>
                    <td class="category-value right aligned">January 2015</td>
                  </tr>
                  <tr>
                    <td>Hanover Equity</td>
                    <td class="category-value right aligned">80%</td>
                  </tr>
                  <tr>
                    <td>Project Capitalization</td>
                    <td class="category-value right aligned">$19,000,000</td>
                  </tr>
                  <tr>
                    <td>Location</td>
                    <td class="category-value right aligned">Los Angeles</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td class="category-value right aligned">Multi-Family Development</td>
                  </tr>
                  <tr>
                    <td>Size</td>
                    <td class="category-value right aligned">15,400 Sq. Ft.</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>