<% layout('layout_hero') -%>
<div class="ui vertical segment first">
  <div class="ui center aligned stackable grid container">
    <div class="ui hidden divider"></div>
    <div class="three column row">
      <div class="five wide column">
        <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
        <h1 class="ui large header">Investment Size</h1>
        <h2 class="ui medium header">Typical investments range below
          $50mm in project capitalization,
          often falling below the institutional
          radar</h2>
      </div>
      <div class="five wide column">
        <i class="fa fa-home fa-5x" aria-hidden="true"></i>
        <h1 class="ui large header">Product Type</h1>
        <h2 class="ui medium header">Multi-Family and Net Lease
          Properties, both ground-up
          development and value-add
          reposition</h2>
      </div>
      <div class="five wide column">
        <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
        <h1 class="ui large header">Target Markets</h1>
        <h2 class="ui medium header">Multi-Family investments focus
          on in-fill urban markets on the
          West Coast. Net Lease investments
          have a national scope.</h2>
      </div>
    </div>
    <div class="ui hidden divider"></div>
  </div>
</div>
<div class="ui vertical segment">
  <div class="ui hidden divider"></div>
  <div class="ui stackable grid container">
    <div class="centered row">
        <div class="ui huge header section">
          Investment Programs
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row">
      <div class="fourteen wide column">
        <div class="ui tabular menu">
          <a class="active item multi-family" style="font-size: 1.5em;">
            Multi-Family
          </a>
          <a class="item net-lease" style="font-size: 1.5em;">
            Net Lease
          </a>
        </div>
      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="centered row">
      <div class="fourteen wide column">
        <!--NET LEASE TABLE-->
        <table class="ui basic striped table net-lease">
          <tbody>
          <tr>
            <td class="five wide category">Asset Categories</td>
            <td class="eleven wide">Retail, Restaurant, Medical, Government, & Commercial</td>
          </tr>
          <tr>
            <td class="category">Single Tenant NNN <br/>Leased Developments</td>
            <td>Build-To-Suit & Redevelopments</td>
          </tr>
          <tr>
            <td class="category">Markets</td>
            <td>Nationwide</td>
          </tr>
          <tr>
            <td class="category">Total Capitalization</td>
            <td>$500,000 to $50,000,000</td>
          </tr>
          <tr>
            <td class="category">Project Leverage</td>
            <td>65% to 90%</td>
          </tr>
          <tr>
            <td class="category">Hanover Equity</td>
            <td>$350,000 to $10,000,000</td>
          </tr>
          </tbody>
        </table>

        <!--MULTI_FAMILY TABLE-->
        <table class="ui basic striped table multi-family">
          <tbody>
          <tr>
            <td class="five wide category">Apartment Types</td>
            <td class="eleven wide">New Developments & Value-Add Reposition</td>
          </tr>
          <tr>
            <td class="category">Markets</td>
            <td>Urban Infill California/Seattle, Washington <br/>
              (Metro Los Angeles, Coastal Orange County, Metro
              San Diego, San Francisco Bay Area, Metro Seattle) </td>
          </tr>
          <tr>
            <td class="category">Total Capitalization</td>
            <td>$5,000,000 to $50,000,000</td>
          </tr>
          <tr>
            <td class="category">Project Leverage</td>
            <td>65% to 80%</td>
          </tr>
          <tr>
            <td class="category">Hanover Equity</td>
            <td>$2,000,000 to $15,000,000</td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>

  </div>
</div>