<% layout('layout_hero') -%>
  <div class="ui inverted vertical center aligned segment first" style="background-color: #00779f !important">
    <h2 class="ui inverted medium header desktop-group" style="font-weight:200;">Hanover has over 25 years of experience in originating and managing joint venture equity investments
      <br/>with local and national developers.
    </h2>
    <h2 class="ui inverted medium header mobile-group" style="font-weight:200; margin-top: 0; padding-left: 5px; padding-right: 5px;">Hanover has over 25 years of experience in originating and managing joint venture equity investments with local and national
      developers.
    </h2>
  </div>
  <div class="ui vertical segment second desktop-group">
    <div class="ui container grid">
      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">

            <div class="ui bordered fade reveal image" id="yarmolinsky">
              <img class="photo" src="/images/yarmolinsky.jpg">
              <div class="overlay">
                <div class="overlayText">Alex Yarmolinsky
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">President / CEO</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="yarmolinsky-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="yarmolinsky-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/yarmolinsky.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Alex Yarmolinsky</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">President/CEO</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/alexyarmolinsky/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:AYarmolinsky@mmcrealestate.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (650) 842-2226
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Yarmolinsky joined Hanover as its President and Chief Executive Officer in 2017. In this role he
                        has oversight responsibility for all operating activities of the company. Mr. Yarmolinsky previously
                        served as the Executive Vice President and Chief Financial Officer of Marcus Millichap Company, Hanover’s
                        parent company. He has been with Marcus and Millichap since 2005 and was responsible for overseeing
                        the entire finance function of MMC, including real estate finance, accounting, taxation and treasury.
                        Since 2010, Mr. Yarmolinsky also served on MMC’s Board of Directors and Investment Committee.</p>
                      <p>Prior to joining Marcus and Millichap Company, Mr. Yarmolinsky worked in public accounting at Burr,
                        Pilger and Mayer, where he began his career in 1999. Mr. Yarmolinsky received Bachelor’s degree from
                        the University of San Francisco and also holds a Master of Science from Golden Gate University. Mr.
                        Yarmolinsky is a Certified Public Accountant (inactive) and a full member of ULI.
                      </p>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="baraghoush">
              <img class="photo" src="/images/baraghoush.jpg">
              <div class="overlay">
                <div class="overlayText">Ash Baraghoush
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Sr. Director</span><br/>
                  <span style="font-size: 18px; font-weight: 200;">Southern California</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="baraghoush-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="baraghoush-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/baraghoush.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Ash Baraghoush</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Senior Director (Southern California)</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/ash-baraghoush-70b49142/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:abaraghoush@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2524
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Baraghoush serves as a Senior Director (Southern California) at Hanover Financial, LLC. He is responsible for identifying
                        and evaluating joint venture equity opportunities for value-add and development multifamily projects.
                        Mr. Baraghoush previously spent four years with Ares Management originating and structuring senior
                        mortgages, mezzanine, preferred equity and common equity for multifamily real estate transactions.
                        Prior to Ares, Mr. Baraghoush worked at QVT Mount Auburn Capital and at Hanover Financial Company.
                        Mr. Baraghoush began his career at Bank of America in its Global Corporate Investment Banking division.</p>
                      <p>Mr. Baraghoush holds a Bachelor of Arts in Economics, with a minor in Accounting, from UCLA.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="white">
              <img class="photo" src="/images/white.jpg">
              <div class="overlay">
                <div class="overlayText">David White
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Sr. Director, Multifamily</span><br/>
                  <span style="font-size: 18px; font-weight: 200;">San Francisco Bay Area & Pacific Northwest</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="white-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="white-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/white.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">David White</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Sr. Director, Multifamily (San Francisco Bay Area & Pacific Northwest)</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/david-white-a3593b11/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:dwhite@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (415) 519-3434
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. White serves as Senior Director of Multifamily (San Francisco Bay Area & Pacific Northwest) at Hanover Financial, LLC overseeing the firm’s investment activities in the Bay Area and Pacific Northwest.   Prior to joining Hanover, he served as an Executive Director at PGIM Real Estate responsible for west coast acquisition activities on behalf of PGIM’s open-ended fund series.   Mr. White began his career at KPMG LLP.</p>
                      <p>Mr. White holds an MBA from UC Berkeley Haas School of Business and BS degrees in Accounting & Finance from Indiana University’s Kelly School of Business.   Mr. White is a Certified Public Accountant (inactive) and a member of ULI.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">

            

            <div class="ui bordered fade reveal image" id="xiong">
              <img class="photo" src="/images/placeholder.png">
              <div class="overlay">
                <div class="overlayText">Jachi Xiong
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Sr. Director</span><br/> 
                  <span style="font-size: 18px; font-weight: 200;">Asset Management</span>
                  
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="xiong-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="xiong-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/placeholder.png">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Jachi Xiong</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Senior Director, Asset Management</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/jachi-xiong-4575b7/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:jxiong@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (650) 842-2252
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Ms. Xiong serves as Senior Director of Asset Management at Hanover Financial, LLC overseeing the firm’s investment portfolio. Prior to joining Hanover, she served as a Vice President at AIG Global Real Estate Group with alternating roles of west coast acquisition/development and asset management of portfolios with national footprint. Ms. Xiong began her career as an Architect in P.R. China.</p>
                      <p>Ms. Xiong holds an MBA from UC Berkeley Haas School of Business and an Master of Real Estate Development (“MRED”) from University of Southern California.  Ms. Xiong graduated with a BS degree in Architecture from Zhejiang University, P.R China.  Ms. Xiong is a member of ULI.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="davidson">
              <img class="photo" src="/images/davidson.jpg">
              <div class="overlay">
                <div class="overlayText">Mark Davidson
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Director, Finance</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="davidson-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="davidson-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/davidson.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">Mark Davidson</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Director, Finance</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/markdavidson928/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:mdavidson@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2523
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Davidson is a Director, Finance at Hanover Financial, LLC. He works with joint venture
                        operating partners to develop and to implement asset management plans. This includes overseeing closings,
                        monitoring developments, budgeting, and participating in dispositions. Prior to joining Hanover in
                        2015, Mr. Davidson spent the previous eight years at GE Real Estate evaluating and recommending new
                        debt deals, performing real estate valuations, and underwriting West Coast suburban office acquisitions.
                        Prior to GE Real Estate, he worked in institutional real estate consulting at the Townsend Group
                        and in public accounting with Arthur Andersen.</p>
                      <p>Mr. Davidson holds a Bachelor of Arts in Economics from UCLA and a Masters in Business Administration
                        from Duke University’s Fuqua School of Business. Mr. Davidson is a Chartered Financial Analyst and
                        a Certified Public Accountant. Davidson holds a California real estate broker’s license.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui bordered fade reveal image" id="rodiles">
              <img class="photo" src="/images/rodiles.jpg">
              <div class="overlay">
                <div class="overlayText">John Rodiles 
                  <br/>
                  <br/>
                  <span style="font-size: 18px; font-weight: 200;">Director, NNN</span>
                  <br/>
                  <br/>
                  <br/>
                  <button class="ui big inverted button">view bio</button>
                </div>
              </div>
            </div>

            <div class="ui modal team desktop-group" id="rodiles-desktop-modal">
              <div class="ui basic padded segment">
                <div class="ui stackable grid container">
                  <div class="row">
                    <div class="right aligned column">
                      <span class="closeModal" data-modal="rodiles-desktop-modal">X</span>
                    </div>
                  </div>
                  <div class="two column center aligned row">
                    <div class="four wide column">
                      <img class="ui medium bordered image" src="/images/rodiles.jpg">
                    </div>
                    <div class="eleven wide left aligned column">
                      <div class="ui left aligned large header">
                        <span class="tealAqua">John Rodiles </span>
                      </div>
                      <div class="ui left aligned medium header">
                        <span class="tealAqua">Director, NNN</span>
                      </div>
                      <div class="ui left aligned medium header">
                        <a target="_blank" href="https://www.linkedin.com/in/john-rodiles-8156166/" title="LinkedIn" target="_blank">
                          <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                          &nbsp;&nbsp;</a>
                        <a href="mailto:jrodiles@hanoverfinancialllc.com" title="Email">
                          <i class="fa fa-envelope " aria-hidden="true"></i>
                          &nbsp;&nbsp;</a>
                        (424) 653-2527
                      </div>
                      <div class="ui hidden divider"></div>
                      <p>Mr. Rodiles serves as the Director of NNN at Hanover Financial, LLC. He is responsible for identifying joint venture equity opportunities for net leased development and value-add projects throughout the country. In his career, Mr. Rodiles has overseen transactions totaling more than $4 billion in volume as an advisor to institutions, public REITs, and merchant developers in financing and sales disposition capacities.</p>
                      <p>Mr. Rodiles previously worked as a senior executive at A10 Capital, a direct lender, where he was responsible in leading the organization’s top grossing Western region. Previous to A10 Capital, he was a senior executive at Marcus & Millichap where he managed in several offices, hundreds of salespeople, and cultivated the top grossing lending office. Mr. Rodiles’ career began in corporate lending at Banc One Leasing Corporation.
                      </p>
                      <p>He was responsible for several offices, hundreds of salespeople, and cultivated the top grossing lending office at Marcus & Millichap and top grossing region at A10 Capital. As Vice President of Investments, John focused on the financing and sale of net leased assets. In his time with the above lending institutions he specialized in asset-based lending where he funded various debt and lease structures with companies throughout the Unites States.</p>
                      <p>Mr. Rodiles holds a Bachelor of Science in Finance from California State University Long Beach. He is a licensed real estate broker in California and Oregon and an active member of the International Council of Shopping Centers. Outside of work, John enjoys traveling internationally, dedicating time to organizations in his community, and spending time with his wife, Elizabeth, and their three children, Dean, Giuliana, and Marc.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">


              
                    <div class="ui bordered fade reveal image" id="peterson">
                      <img class="photo" src="/images/peterson.jpg">
                      <div class="overlay">
                        <div class="overlayText">John Paul Peterson
                          <br/>
                          <br/>
                          <span style="font-size: 18px; font-weight: 200;">Director, Multifamily</span><br/> 
                          <span style="font-size: 18px; font-weight: 200;">San Francisco Bay Area + Pacific Northwest</span>
                          
                          <br/>
                          <br/>
                          <br/>
                          <button class="ui big inverted button">view bio</button>
                        </div>
                      </div>
                    </div>
        
                    <div class="ui modal team desktop-group" id="peterson-desktop-modal">
                      <div class="ui basic padded segment">
                        <div class="ui stackable grid container">
                          <div class="row">
                            <div class="right aligned column">
                              <span class="closeModal" data-modal="peterson-desktop-modal">X</span>
                            </div>
                          </div>
                          <div class="two column center aligned row">
                            <div class="four wide column">
                              <img class="ui medium bordered image" src="/images/peterson.jpg">
                            </div>
                            <div class="eleven wide left aligned column">
                              <div class="ui left aligned large header">
                                <span class="tealAqua">John Paul Peterson</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <span class="tealAqua">Director, Multifamily (San Francisco Bay Area + Pacific Northwest)</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <a target="_blank" href="https://www.linkedin.com/in/johnpaulpeterson/" title="LinkedIn" target="_blank">
                                  <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                  &nbsp;&nbsp;</a>
                                <a href="mailto:jpeterson@hanoverfinancialllc.com" title="Email">
                                  <i class="fa fa-envelope " aria-hidden="true"></i>
                                  &nbsp;&nbsp;</a>
                                (650) 842-2231
                              </div>
                              <div class="ui hidden divider"></div>
                              <p>Mr. Peterson serves as a Director of Multifamily (San Francisco Bay Area + Pacific Northwest) at Hanover Financial, LLC.  He is responsible for identifying and
                                evaluating co-investment partnership opportunities with multi-family development sponsors and evaluating
                                investment opportunities.  Mr. Peterson previously spent ten years as a management/engineering consultant
                                leading a team in the design, financial modeling and performance management of commercial, residential
                                and institutional real estate assets throughout the United States and Mainland China.</p>
                              <p>Mr. Peterson holds a Bachelor of Science in Mechanical Engineering from Messiah University and a Master
                                of Business Administration from University of California, Berkeley, Haas School of Business.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ui bordered fade reveal image" id="chesnie">
                      <img class="photo" src="/images/chesnie.jpg">
                      <div class="overlay">
                        <div class="overlayText">Nate Chesnie
                          <br/>
                          <br/>
                          <span style="font-size: 18px; font-weight: 200;">Director, Multifamily</span><br/>
                          <span style="font-size: 18px; font-weight: 200;">Southern California</span>
                          <br/>
                          <br/>
                          <br/>
                          <button class="ui big inverted button">view bio</button>
                        </div>
                      </div>
                    </div>
        
                    <div class="ui modal team desktop-group" id="chesnie-desktop-modal">
                      <div class="ui basic padded segment">
                        <div class="ui stackable grid container">
                          <div class="row">
                            <div class="right aligned column">
                              <span class="closeModal" data-modal="chesnie-desktop-modal">X</span>
                            </div>
                          </div>
                          <div class="two column center aligned row">
                            <div class="four wide column">
                              <img class="ui medium bordered image" src="/images/chesnie.jpg">
                            </div>
                            <div class="eleven wide left aligned column">
                              <div class="ui left aligned large header">
                                <span class="tealAqua">Nate Chesnie</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <span class="tealAqua">Director, Multifamily(Southern California)</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <a target="_blank" href="https://www.linkedin.com/in/nathan-chesnie-965a14a/" title="LinkedIn" target="_blank">
                                  <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                  &nbsp;&nbsp;</a>
                                <a href="mailto:nchesnie@hanoverfinancialllc.com" title="Email">
                                  <i class="fa fa-envelope " aria-hidden="true"></i>
                                  &nbsp;&nbsp;</a>
                                (949) 307-6212
                              </div>
                              <div class="ui hidden divider"></div>
                              <p>Mr. Chesnie serves as a Director of Multifamily (Southern California) at Hanover Financial, LLC. He is responsible for identifying and evaluating joint venture equity opportunities for value-add and development multifamily projects in Orange and San Diego Counties. Mr. Chesnie previously spent three years with TMC America originating, structuring, and managing equity investments for single family, multifamily, retail, industrial, and land entitlement transactions. Prior to TMC America, Mr. Chesnie worked at Sabal Financial Group where he acquired and managed distressed commercial real estate across the United States.</p>
                              <p>Mr. Chesnie holds a Bachelor of Arts in Finance, with a minor in Real Estate Development and Finance, from The University of Southern California.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="ui bordered fade reveal image" id="tevrizian">
                      <img class="photo" src="/images/tevrizian.jpg">
                      <div class="overlay">
                        <div class="overlayText">Drew Tevrizian
                          <br/>
                          <br/>
                          <span style="font-size: 18px; font-weight: 200;">Director, NNN</span>
                          <br/>
                          <br/>
                          <br/>
                          <button class="ui big inverted button">view bio</button>
                        </div>
                      </div>
                    </div>
        
                    <div class="ui modal team desktop-group" id="tevrizian-desktop-modal">
                      <div class="ui basic padded segment">
                        <div class="ui stackable grid container">
                          <div class="row">
                            <div class="right aligned column">
                              <span class="closeModal" data-modal="tevrizian-desktop-modal">X</span>
                            </div>
                          </div>
                          <div class="two column center aligned row">
                            <div class="four wide column">
                              <img class="ui medium bordered image" src="/images/tevrizian.jpg">
                            </div>
                            <div class="eleven wide left aligned column">
                              <div class="ui left aligned large header">
                                <span class="tealAqua">Drew Tevrizian</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <span class="tealAqua">Director, NNN</span>
                              </div>
                              <div class="ui left aligned medium header">
                                <a target="_blank" href="https://www.linkedin.com/in/drew-tevrizian-cfa-cpa-a07402a/" title="LinkedIn" target="_blank">
                                  <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                  &nbsp;&nbsp;</a>
                                <a href="mailto:dtevrizian@hanoverfinancialllc.com" title="Email">
                                  <i class="fa fa-envelope " aria-hidden="true"></i>
                                  &nbsp;&nbsp;</a>
                                (424) 653-2521
                              </div>
                              <div class="ui hidden divider"></div>
                              <p>Mr. Tevrizian serves as a Director of NNN at Hanover Financial, LLC. He is responsible for identifying
                                and evaluating joint venture equity opportunities for net lease projects. Mr. Tevrizian previously
                                worked in JLL’s Capital Markets division underwriting multifamily projects in the West Coast. He
                                began his career in public accounting with PwC. </p>
                              <p>Mr. Tevrizian holds a Bachelor of Arts in Psychology from the University of Michigan. Mr. Tevrizian
                                is a Chartered Financial Analyst and a Certified Public Accountant.
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          <div class="ui medium images">


              <div class="ui bordered fade reveal image" id="samaha">
                  <img class="photo" src="/images/samaha.jpg">
                  <div class="overlay">
                    <div class="overlayText">Josh Samaha
                      <br/>
                      <br/>
                      <span style="font-size: 18px; font-weight: 200;">Associate Director, Multifamily</span><br/>
                      <span style="font-size: 18px; font-weight: 200;">San Francisco Bay Area + Pacific Northwest</span><br/>
                      <br/>
                      <br/>
                      <br/>
                      <button class="ui big inverted button">view bio</button>
                    </div>
                  </div>
                </div>
    
                <div class="ui modal team desktop-group" id="samaha-desktop-modal">
                  <div class="ui basic padded segment">
                    <div class="ui stackable grid container">
                      <div class="row">
                        <div class="right aligned column">
                          <span class="closeModal" data-modal="samaha-desktop-modal">X</span>
                        </div>
                      </div>
                      <div class="two column center aligned row">
                        <div class="four wide column">
                          <img class="ui medium bordered image" src="/images/samaha.jpg">
                        </div>
                        <div class="eleven wide left aligned column">
                          <div class="ui left aligned large header">
                            <span class="tealAqua">Josh Samaha</span>
                          </div>
                          <div class="ui left aligned medium header">
                            <span class="tealAqua">Associate Director, Multifamily (San Francisco Bay Area + Pacific Northwest)</span>
                          </div>
                          <div class="ui left aligned medium header">
                            <a target="_blank" href="https://www.linkedin.com/in/josh-samaha-89a3741a/" title="LinkedIn" target="_blank">
                              <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                              &nbsp;&nbsp;</a>
                            <a href="mailto:jsamaha@hanoverfinancialllc.com" title="Email">
                              <i class="fa fa-envelope " aria-hidden="true"></i>
                              &nbsp;&nbsp;</a>
                              (650) 842-2215
                          </div>
                          <div class="ui hidden divider"></div>
                          <p>Mr. Samaha is an Associate Director of Multifamily (San Francisco Bay Area + Pacific Northwest) at Hanover Financial, LLC. He is responsible for working with Hanover’s
                            acquisition team in identifying and underwriting new multifamily investment opportunities. Prior
                            to joining Hanover, Mr. Samaha spent four years at The Concord Group consulting on multifamily development
                            projects in the West Coast. </p>
                          <p>Mr. Samaha holds a Bachelor of Arts in Economics from UCLA.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            <div class="ui bordered fade reveal image" id="galen">
                <img class="photo" src="/images/galen.jpg">
                <div class="overlay">
                  <div class="overlayText">Joshua Galen
                    <br/>
                    <br/>
                    <span style="font-size: 18px; font-weight: 200;">Analyst</span>
                    <br/>
                    <br/>
                    <br/>
                    <button class="ui big inverted button">view bio</button>
                  </div>
                </div>
              </div>
  
              <div class="ui modal team desktop-group" id="galen-desktop-modal">
                <div class="ui basic padded segment">
                  <div class="ui stackable grid container">
                    <div class="row">
                      <div class="right aligned column">
                        <span class="closeModal" data-modal="galen-desktop-modal">X</span>
                      </div>
                    </div>
                    <div class="two column center aligned row">
                      <div class="four wide column">
                        <img class="ui medium bordered image" src="/images/galen.jpg">
                      </div>
                      <div class="eleven wide left aligned column">
                        <div class="ui left aligned large header">
                          <span class="tealAqua">Joshua Galen</span>
                        </div>
                        <div class="ui left aligned medium header">
                          <span class="tealAqua">Analyst</span>
                        </div>
                        <div class="ui left aligned medium header">
                          <a target="_blank" href="https://www.linkedin.com/in/josh-galen-a274ba64/" title="LinkedIn" target="_blank">
                            <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                            &nbsp;&nbsp;</a>
                          <a href="mailto:jgalen@hanoverfinancialllc.com" title="Email">
                            <i class="fa fa-envelope " aria-hidden="true"></i>
                            &nbsp;&nbsp;</a>
                            (424) 653-2529
                        </div>
                        <div class="ui hidden divider"></div>
                        <p>Mr. Galen is an Analyst at Hanover Financial, LLC. He is responsible for working with Hanover’s acquisition team in identifying and underwriting new investment opportunities as well as working with Hanover’s asset management team. Prior to joining Hanover, Mr. Galen spent two years at Silverpeak Argentic where he underwrote loans in fixed rate and floating rate debt.</p>
                        <p>Mr. Galen holds a Bachelor of Science in Public Policy, Planning, and Development and a Master of Science in Finance from USC.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="ui bordered fade reveal image" id="rodrigues">
                  <img class="photo" src="/images/placeholder.png">
                  <div class="overlay">
                    <div class="overlayText">Ryan Rodrigues
                      <br/>
                      <br/>
                      <span style="font-size: 18px; font-weight: 200;">Analyst</span>
                      <br/>
                      <br/>
                      <br/>
                      <button class="ui big inverted button">view bio</button>
                    </div>
                  </div>
                </div>
    
                <div class="ui modal team desktop-group" id="rodrigues-desktop-modal">
                  <div class="ui basic padded segment">
                    <div class="ui stackable grid container">
                      <div class="row">
                        <div class="right aligned column">
                          <span class="closeModal" data-modal="rodrigues-desktop-modal">X</span>
                        </div>
                      </div>
                      <div class="two column center aligned row">
                        <div class="four wide column">
                          <img class="ui medium bordered image" src="/images/placeholder.png">
                        </div>
                        <div class="eleven wide left aligned column">
                          <div class="ui left aligned large header">
                            <span class="tealAqua">Ryan Rodrigues</span>
                          </div>
                          <div class="ui left aligned medium header">
                            <span class="tealAqua">Analyst</span>
                          </div>
                          <div class="ui left aligned medium header">
                            <a target="_blank" href="https://www.linkedin.com/in/ryan-rodrigues-70276083/" title="LinkedIn" target="_blank">
                              <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                              &nbsp;&nbsp;</a>
                            <a href="mailto:rrodrigues@hanoverfinancialllc.com" title="Email">
                              <i class="fa fa-envelope " aria-hidden="true"></i>
                              &nbsp;&nbsp;</a>
                              (424) 653-2526
                          </div>
                          <div class="ui hidden divider"></div>
                          <p>Mr. Rodrigues is an Analyst at Hanover Financial, LLC. He is responsible for working with Hanover’s acquisition team and asset management team and assists with all aspects of the deal cycle from underwriting new investment opportunities to close of escrow on existing deals. Prior to joining Hanover, Mr. Rodrigues spent two years at Colony Capital where he became a utility player and assisted teams dealing with capital markets, foreign exchange and interest rates, insurance, and corporate finance.</p>
                          <p>Mr. Rodrigues holds a Bachelor of Science from Columbia University in Financial Economics.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
        </div>
      </div>

      <div class="row">
          <div class="center aligned column">
            <div class="ui medium images">

                <div class="ui bordered fade reveal image" id="lambert">
                    <img class="photo" src="/images/placeholder.png">
                    <div class="overlay">
                      <div class="overlayText">Julia Lambert
                        <br/>
                        <br/>
                        <span style="font-size: 18px; font-weight: 200;">Analyst</span>
                        <br/>
                        <br/>
                        <br/>
                        <button class="ui big inverted button">view bio</button>
                      </div>
                    </div>
                  </div>
      
                  <div class="ui modal team desktop-group" id="lambert-desktop-modal">
                    <div class="ui basic padded segment">
                      <div class="ui stackable grid container">
                        <div class="row">
                          <div class="right aligned column">
                            <span class="closeModal" data-modal="lambert-desktop-modal">X</span>
                          </div>
                        </div>
                        <div class="two column center aligned row">
                          <div class="four wide column">
                            <img class="ui medium bordered image" src="/images/placeholder.png">
                          </div>
                          <div class="eleven wide left aligned column">
                            <div class="ui left aligned large header">
                              <span class="tealAqua">Julia Lambert</span>
                            </div>
                            <div class="ui left aligned medium header">
                              <span class="tealAqua">Analyst</span>
                            </div>
                            <div class="ui left aligned medium header">
                              <a target="_blank" href="https://www.linkedin.com/in/julia-lambert-097687126/" title="LinkedIn" target="_blank">
                                <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                                &nbsp;&nbsp;</a>
                              <a href="mailto:jlambert@hanoverfinancialllc.com" title="Email">
                                <i class="fa fa-envelope " aria-hidden="true"></i>
                                &nbsp;&nbsp;</a>
                                
                            </div>
                            <div class="ui hidden divider"></div>
                            <p>Ms. Lambert is an Analyst at Hanover Financial, LLC. She is responsible for working with Hanover’s acquisition team in identifying and underwriting new investment opportunities as well as working with Hanover’s asset management team. Prior to joining Hanover, Ms. Lambert worked at The Concord Group where she consulted on multi-family and office development projects in a variety of US markets.</p>
                            <p>Ms. Lambert holds a Bachelor of Science in Civil Engineering, Structures and Construction Emphasis from Stanford University.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="ui vertical segment second mobile-group">
    <div class="ui container grid">
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Yarmolinsky">
            <img class="ui bordered medium image mobile" id="yarmolinsky" src="/images/yarmolinsky.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Yarmolinsky">
            <h2 class="ui medium header tealAqua" id="yarmolinsky">Alex Yarmolinsky</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">President / CEO</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Baraghoush">
            <img class="ui bordered medium image" id="baraghoush" src="/images/baraghoush.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Baraghoush">
            <h2 class="ui medium header tealAqua" id="baraghoush">Ash Baraghoush</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Sr. Director, Multifamily <br/>(Southern California)</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/White">
            <img class="ui bordered medium image mobile" id="white" src="/images/white.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/White">
            <h2 class="ui medium header tealAqua" id="white">David White</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Sr. Director, Multifamily <br/> Northern California/ Seattle/Portland</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Xiong>">
            <img class="ui bordered medium image mobile" id="xiong" src="/images/placeholder.png" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Xiong>">
            <h2 class="ui medium header tealAqua" id="xiong">Jachi Xiong</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Sr. Director, Asset Management</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Davidson">
            <img class="ui bordered medium image mobile" id="davidson" src="/images/davidson.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Davidson">
            <h2 class="ui medium header tealAqua" id="davidson">Mark Davidson</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Director, Finance</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Rodiles">
            <img class="ui bordered medium image" id="rodiles" src="/images/rodiles.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Rodiles">
            <h2 class="ui medium header tealAqua" id="rodiles">John Rodiles</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Director, NNN</h3>
        </div>
      </div>
      

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Peterson">
            <img class="ui bordered medium image mobile" id="peterson" src="/images/peterson.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Peterson">
            <h2 class="ui medium header tealAqua" id="peterson">John Paul Peterson</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Director, Multifamily <br/>San Francisco Bay Area and Pacific Northwest)</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Chesnie">
            <img class="ui bordered medium image" id="chesnie" src="/images/chesnie.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Chesnie">
            <h2 class="ui medium header tealAqua" id="chesnie">Nate Chesnie</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Director, Multifamily <br/>(Southern California)</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Tevrizian">
            <img class="ui bordered medium image" id="tevrizian" src="/images/tevrizian.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Tevrizian">
            <h2 class="ui medium header tealAqua" id="tevrizian">Drew Tevrizian</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Director, NNN</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Samaha">
            <img class="ui bordered medium image" id="samaha" src="/images/samaha.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Samaha">
            <h2 class="ui medium header tealAqua" id="samaha">Josh Samaha</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Associate Director, Multifamily (San Francisco Bay Area and Pacific Northwest)</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/galen">
            <img class="ui bordered medium image" id="galen" src="/images/galen.jpg" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/galen">
            <h2 class="ui medium header tealAqua" id="galen">Joshua Galen</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Analyst</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Rodrigues">
            <img class="ui bordered medium image" id="rodrigues" src="/images/placeholder.png" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Rodrigues">
            <h2 class="ui medium header tealAqua" id="rodrigues">Ryan Rodrigues</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Analyst</h3>
        </div>
      </div>

      <div class="ui divider"></div>
      <div class="two column row">
        <div class="left aligned eight wide column">
          <a href="/Team/Lambert">
            <img class="ui bordered medium image" id="lambert" src="/images/placeholder.png" />
          </a>
        </div>
        <div class="left aligned eight wide column" style="padding-top: 50px;">
          <a href="/Team/Lambert">
            <h2 class="ui medium header tealAqua" id="lambert">Julia Lambert</h2>
          </a>
          <h3 class="ui small header" style="margin-top: 5px;">Analyst</h3>
        </div>
      </div>

    </div>
  </div>