<% layout('layout_hero') -%>
<div class="ui inverted vertical center aligned segment first" style="background-color: #00779f !important">
  <h2 class="ui inverted medium header desktop-group" style="font-weight:200;">Hanover has over 25 years of experience
    in originating
    and managing
    joint venture equity investments <br/>with local and national developers.
  </h2>
  <h2 class="ui inverted medium header mobile-group"
      style="font-weight:200; margin-top: 0; padding-left: 5px; padding-right: 5px;">Hanover has over 25 years of
    experience in originating
    and managing
    joint venture equity investments with local and national developers.
  </h2>
</div>
<div class="ui vertical segment second desktop-group">
  <div class="ui container grid">
    <div class="row">
      <div class="center aligned column">
        <div class="ui medium images">
          <div class="ui bordered fade reveal image" id="lowinger">
            <img class="visible content" src="/images/placeholder_person.png">
            <img class="hidden content" src="/images/placeholder_lowinger.png">
          </div>

          <div class="ui modal team desktop-group" id="lowinger-desktop-modal">
            <div class="ui basic padded segment">
              <div class="ui stackable grid container">
                <div class="row">
                  <div class="right aligned column">
                    <span class="closeModal" data-modal="lowinger-desktop-modal">X</span>
                  </div>
                </div>
                <div class="two column center aligned row">
                  <div class="four wide column">
                    <img class="ui medium bordered image" src="/images/placeholder_person.png">
                  </div>
                  <div class="eleven wide left aligned column">
                    <div class="ui left aligned large header"><span class="tealAqua">Michael Lowinger</span></div>
                    <div class="ui left aligned medium header"><span class="tealAqua">President / CEO</span></div>
                    <div class="ui left aligned medium header">
                      <a href="https://www.linkedin.com/in/michael-h-lowinger-ba92b46b/" title="LinkedIn"
                         target="_blank"><i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                        &nbsp;&nbsp;</a>
                      <a href="mlowinger@hanoverfinancialllc.com" title="Email"><i class="fa fa-envelope "
                                                                                   aria-hidden="true"></i> &nbsp;&nbsp;</a>
                      (310) 743 - 0080
                    </div>
                    <div class="ui hidden divider"></div>
                    <p>Mr. Lowinger was a founding partner of the Company when originally
                      formed in 1999. Lowinger was previously with Ares Management, a
                      fund management firm based in Los Angeles with approximately
                      $74 billion under management whose investors include numerous
                      public pension funds, foundations, and sovereign funds. Lowinger
                      became part of the Ares team when Wrightwood Capital was acquired
                      by Ares, and he was responsible for originating and structuring
                      preferred equity, mezzanine, and debt investments at both
                      organizations with primary responsibility for the firms’ west coast
                      operations.</p>
                    <p>Prior to his work at Wrightwood Capital, as outlined, Lowinger was
                      President and a founding partner of Hanover Financial Company, a
                      fund management firm founded in 1999 with George Marcus and
                      Mark Macedo, where he was responsible for directing Hanover’s
                      investment strategy, asset and fund management, and investor
                      relations. Hanover was acquired by Wrightwood Capital in 2008, at
                      which time the committed institutional funds were included in the
                      acquisition. From 1987 through 1999 Lowinger was an Executive
                      Vice President and Managing Director of Heller Financial, a subsidiary
                      of Fuji Bank, where he was responsible for overseeing debt and equity
                      investments and asset management activity in the Western United States.
                    </p>
                    <p>Lowinger is an active member of the Real Estate Principals Organization
                      (RPO) of the Jewish Federation of Greater Los Angeles. Mr. Lowinger
                      holds a Bachelor of Arts in Accounting and Finance from San Diego State
                      University and a Master’s degree in Business Administration from
                      Pepperdine University. Lowinger holds a California real estate broker’s
                      license.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui bordered fade reveal image" id="macedo">
            <img class="visible content" src="/images/placeholder_person.png">
            <img class="hidden content" src="/images/placeholder_macedo.png">
          </div>

          <div class="ui modal team desktop-group" id="macedo-desktop-modal">
            <div class="ui basic padded segment">
              <div class="ui stackable grid container">
                <div class="row">
                  <div class="right aligned column">
                    <span class="closeModal" data-modal="macedo-desktop-modal">X</span>
                  </div>
                </div>
                <div class="two column center aligned row">
                  <div class="four wide column">
                    <img class="ui medium bordered image" src="/images/placeholder_person.png">
                  </div>
                  <div class="eleven wide left aligned column">
                    <div class="ui left aligned large header"><span class="tealAqua">Mark Macedo</span></div>
                    <div class="ui left aligned medium header"><span class="tealAqua">Chief Operating Officer</span>
                    </div>
                    <div class="ui left aligned medium header">
                      <a href="https://www.linkedin.com/in/mark-macedo-45788073/" title="LinkedIn" target="_blank"><i
                                class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                        &nbsp;&nbsp;</a>
                      <a href="mmacedo@hanoverfinancialllc.com" title="Email"><i class="fa fa-envelope "
                                                                                 aria-hidden="true"></i>
                        &nbsp;&nbsp;</a>
                      (424) 653-2522
                    </div>
                    <div class="ui hidden divider"></div>
                    <p>Mr. Macedo was a founding partner of the Company when originally formed in 1999. Mr. Macedo is
                      responsible for identifying investment opportunities and managing Company operations which include
                      strategic planning, deal sourcing, structuring and negotiations, as well as overseeing due
                      diligence and asset management operations. Macedo was also previously with Ares
                      Management/Wrightwood with Lowinger as described above. Prior to his work at Wrightwood Capital,
                      as outlined, Macedo was COO and a founding partner of Hanover Financial Company, a fund management
                      firm founded in 1999. Hanover was acquired by Wrightwood Capital in 2008, at which time the
                      committed institutional funds were included in the acquisition. From 1992 through 1999 held the
                      position of West Coast Director of commercial loan originations for Heller Real Estate Financial
                      Services, a division of Heller Financial Incorporated, working closely with Mr. Lowinger.
                      Originations included commercial debt and equity product types such as floating rate
                      non-participating mortgage debt, participating mortgage debt, participating mezzanine ("equity")
                      debt and permanent (i.e. ͞conduit͟) debt. Macedo is an active member of ULI, ICSC, and MBA. </p>
                    <p>Mr. Macedo holds a Bachelor of Arts in Marketing and a Masters in Finance from Loyola Marymount
                      University.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui bordered fade reveal image" id="davidson">
            <img class="visible content" src="/images/placeholder_person.png">
            <img class="hidden content" src="/images/placeholder_davidson.png">
          </div>

          <div class="ui modal team desktop-group" id="davidson-desktop-modal">
            <div class="ui basic padded segment">
              <div class="ui stackable grid container">
                <div class="row">
                  <div class="right aligned column">
                    <span class="closeModal" data-modal="davidson-desktop-modal">X</span>
                  </div>
                </div>
                <div class="two column center aligned row">
                  <div class="four wide column">
                    <img class="ui medium bordered image" src="/images/placeholder_person.png">
                  </div>
                  <div class="eleven wide left aligned column">
                    <div class="ui left aligned large header"><span class="tealAqua">Mark Davidson</span></div>
                    <div class="ui left aligned medium header"><span class="tealAqua">Director, Asset Management</span>
                    </div>
                    <div class="ui left aligned medium header">
                      <a href="https://www.linkedin.com/in/markdavidson928/" title="LinkedIn" target="_blank"><i
                                class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                        &nbsp;&nbsp;</a>
                      <a href="mdavidson@hanoverfinancialllc.com" title="Email"><i class="fa fa-envelope "
                                                                                   aria-hidden="true"></i>
                        &nbsp;&nbsp;</a>
                      (424) 653-2523
                    </div>
                    <div class="ui hidden divider"></div>
                    <p>Mr. Davidson is a Director of Asset Management at Hanover Financial, LLC. He works with joint
                      venture operating partners to develop and to implement asset management plans. This includes
                      overseeing closings, monitoring developments, budgeting, and participating in dispositions. Prior
                      to joining Hanover in 2015, Mr. Davidson spent the previous eight years at GE Real Estate
                      evaluating and recommending new debt deals, performing real estate valuations, and underwriting
                      West Coast suburban office acquisitions. Prior to GE Real Estate, he worked in institutional real
                      estate consulting at the Townsend Group and in public accounting with Arthur Andersen.</p>
                    <p>Mr. Davidson holds a Bachelor of Arts in Economics from UCLA and a Masters in Business
                      Administration from Duke University’s Fuqua School of Business. Mr. Davidson is a Chartered
                      Financial Analyst and a Certified Public Accountant. Davidson holds a California real estate
                      broker’s license.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <div class="ui medium images">
          <div class="ui bordered fade reveal image" id="baraghoush">
            <img class="visible content" src="/images/placeholder_person.png">
            <img class="hidden content" src="/images/placeholder_baraghoush.png">
          </div>

          <div class="ui modal team desktop-group" id="baraghoush-desktop-modal">
            <div class="ui basic padded segment">
              <div class="ui stackable grid container">
                <div class="row">
                  <div class="right aligned column">
                    <span class="closeModal" data-modal="baraghoush-desktop-modal">X</span>
                  </div>
                </div>
                <div class="two column center aligned row">
                  <div class="four wide column">
                    <img class="ui medium bordered image" src="/images/placeholder_person.png">
                  </div>
                  <div class="eleven wide left aligned column">
                    <div class="ui left aligned large header"><span class="tealAqua">Ash Baraghoush</span></div>
                    <div class="ui left aligned medium header"><span class="tealAqua">Director, Multifamily</span>
                    </div>
                    <div class="ui left aligned medium header">
                      <a href="https://www.linkedin.com/in/ash-baraghoush-70b49142/" title="LinkedIn" target="_blank"><i
                                class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                        &nbsp;&nbsp;</a>
                      <a href="abaraghoush@hanoverfinancialllc.com" title="Email"><i class="fa fa-envelope "
                                                                                   aria-hidden="true"></i>
                        &nbsp;&nbsp;</a>
                      (424) 653-2524
                    </div>
                    <div class="ui hidden divider"></div>
                    <p>Mr.   Baraghoush   serves   as   a   Director   Acquisitions   at   Hanover   Financial,   LLC.   He   is responsible  for  identifying  and  evaluating  joint  venture  equity  opportunities  for  value-add  and development  multifamily  projects.  Mr.  Baraghoush  previously  spent  four  years  with  Ares Management  originating  and  structuring  senior  mortgages,  mezzanine,  preferred  equity  and common  equity  for  multifamily  real  estate  transactions.  Prior  to  Ares,  Mr.  Baraghoush  worked at  QVT  Mount  Auburn  Capital  and  at  Hanover  Financial  Company.  Mr.  Baraghoush  began  his career at Bank of America in its Global Corporate Investment Banking division.</p>
                    <p>Mr. Baraghoush holds a Bachelor of Arts in Economics, with a minor in Accounting, from UCLA.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui bordered fade reveal image" id="tevrizian">
            <img class="visible content" src="/images/placeholder_person.png">
            <img class="hidden content" src="/images/placeholder_tevrizian.png">
          </div>

          <div class="ui modal team desktop-group" id="tevrizian-desktop-modal">
            <div class="ui basic padded segment">
              <div class="ui stackable grid container">
                <div class="row">
                  <div class="right aligned column">
                    <span class="closeModal" data-modal="tevrizian-desktop-modal">X</span>
                  </div>
                </div>
                <div class="two column center aligned row">
                  <div class="four wide column">
                    <img class="ui medium bordered image" src="/images/placeholder_person.png">
                  </div>
                  <div class="eleven wide left aligned column">
                    <div class="ui left aligned large header"><span class="tealAqua">Drew Tevrizian</span></div>
                    <div class="ui left aligned medium header"><span class="tealAqua">Vice President, Net Lease Investments</span>
                    </div>
                    <div class="ui left aligned medium header">
                      <a href="https://www.linkedin.com/in/drew-tevrizian-cfa-cpa-a07402a/" title="LinkedIn" target="_blank"><i
                                class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                        &nbsp;&nbsp;</a>
                      <a href="dtevrizian@hanoverfinancialllc.com" title="Email"><i class="fa fa-envelope "
                                                                                     aria-hidden="true"></i>
                        &nbsp;&nbsp;</a>
                      (424) 653-2521
                    </div>
                    <div class="ui hidden divider"></div>
                    <p>Mr.  Tevrizian  serves  as  a  Vice  President  at  Hanover  Financial,  LLC.  He  is  responsible  for identifying and evaluating joint venture equity opportunities for net lease projects. Mr. Tevrizian previously worked in JLL’s Capital Markets division underwriting multifamily projects in the West Coast. He began his career in public accounting with PwC. </p>
                    <p>Mr.  Tevrizian  holds  a  Bachelor  of  Arts  in  Psychology  from  the  University  of  Michigan.  Mr. Tevrizian is a Chartered Financial Analyst and a Certified Public Accountant.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui bordered fade reveal image" id="samaha">
            <img class="visible content" src="/images/placeholder_person.png">
            <img class="hidden content" src="/images/placeholder_samaha.png">
          </div>
        </div>

        <div class="ui modal team desktop-group" id="samaha-desktop-modal">
          <div class="ui basic padded segment">
            <div class="ui stackable grid container">
              <div class="row">
                <div class="right aligned column">
                  <span class="closeModal" data-modal="samaha-desktop-modal">X</span>
                </div>
              </div>
              <div class="two column center aligned row">
                <div class="four wide column">
                  <img class="ui medium bordered image" src="/images/placeholder_person.png">
                </div>
                <div class="eleven wide left aligned column">
                  <div class="ui left aligned large header"><span class="tealAqua">Josh Samaha</span></div>
                  <div class="ui left aligned medium header"><span class="tealAqua">Associate, Multifamily</span>
                  </div>
                  <div class="ui left aligned medium header">
                    <a href="https://www.linkedin.com/in/josh-samaha-89a3741a/" title="LinkedIn" target="_blank"><i
                              class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i>
                      &nbsp;&nbsp;</a>
                    <a href="jsamaha@hanoverfinancialllc.com" title="Email"><i class="fa fa-envelope "
                                                                                  aria-hidden="true"></i>
                      &nbsp;&nbsp;</a>
                    (424) 653-2528
                  </div>
                  <div class="ui hidden divider"></div>
                  <p>Mr.  Samaha  is  an  Associate  at  Hanover  Financial,  LLC.  He  is responsible  for  working  with Hanover’s   acquisition   team   in   identifying   and   underwriting   new   multifamily   investment opportunities.  Prior  to  joining  Hanover,  Mr.  Samaha  spent  four  years  at  The  Concord  Group consulting on multifamily development projects in the West Coast. </p>
                  <p>Mr. Samaha holds a Bachelor of Arts in Economics from UCLA.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ui vertical segment second mobile-group">
  <div class="ui container grid">
    <div class="two column row">
      <div class="left aligned eight wide column">
        <a href="/Team/Lowinger"><img class="ui bordered medium image mobile" id="lowinger" src="/images/placeholder_person.png"/></a>
      </div>
      <div class="left aligned eight wide column" style="padding-top: 50px;">
        <a href="/Team/Lowinger"><h2 class="ui medium header tealAqua" id="lowinger">Michael Lowinger</h2></a>
        <h3 class="ui small header" style="margin-top: 5px;">President / CEO</h3>
      </div>
    </div>

    <div class="ui divider"></div>

    <div class="two column row">
      <div class="left aligned eight wide column">
        <a href="/Team/Macedo"><img class="ui bordered medium image mobile" id="macedo" src="/images/placeholder_person.png"/></a>
      </div>
      <div class="left aligned eight wide column" style="padding-top: 50px;">
        <a href="/Team/Macedo"><h2 class="ui medium header tealAqua" id="macedo">Mark Macedo</h2></a>
        <h3 class="ui small header" style="margin-top: 5px;">Chief Operating Officer</h3>
      </div>
    </div>

    <div class="ui divider"></div>
    <div class="two column row">
      <div class="left aligned eight wide column">
        <a href="/Team/Davidson"><img class="ui bordered medium image mobile" id="davidson" src="/images/placeholder_person.png"/></a>
      </div>
      <div class="left aligned eight wide column" style="padding-top: 50px;">
        <a href="/Team/Davidson"><h2 class="ui medium header tealAqua" id="davidson">Mark Davidson</h2></a>
        <h3 class="ui small header" style="margin-top: 5px;">Director, Asset Management</h3>
      </div>
    </div>

    <div class="ui divider"></div>
    <div class="two column row">
      <div class="left aligned eight wide column">
        <img class="ui bordered medium image" id="baraghoush" src="/images/placeholder_person.png"/>
      </div>
      <div class="left aligned eight wide column" style="padding-top: 50px;">
        <h2 class="ui medium header tealAqua" id="baraghoush">Ash Baraghoush</h2>
        <h3 class="ui small header" style="margin-top: 5px;">Director, Multifamily</h3>
      </div>

    </div>

    <div class="ui divider"></div>
    <div class="two column row">
      <div class="left aligned eight wide column">
        <img class="ui bordered medium image" id="tevrizian" src="/images/placeholder_person.png"/>
      </div>
      <div class="left aligned eight wide column" style="padding-top: 50px;">
        <h2 class="ui medium header tealAqua" id="tevrizian">Drew Tevrizian</h2>
        <h3 class="ui small header" style="margin-top: 5px;">Vice President, Net Lease Investments</h3>
      </div>

    </div>

    <div class="two column row">
      <div class="left aligned eight wide column">
        <img class="ui bordered medium image" id="samaha" src="/images/placeholder_person.png"/>
      </div>
      <div class="left aligned eight wide column" style="padding-top: 50px;">
        <h2 class="ui medium header tealAqua" id="samaha">Josh Samaha</h2>
        <h3 class="ui small header" style="margin-top: 5px;">Associate, Multifamily</h3>
      </div>

    </div>

  </div>
</div>
