<% layout('layout_hero') -%>
<div class="ui inverted vertical center aligned segment first" style="background-color: #00779f !important">
  <h2 class="ui inverted medium header" style="font-weight:200;">Hanover has over 25 years of experience in originating and managing
    joint venture equity investments <br/>with local and national developers.
  </h2>
</div>
<div class="ui vertical segment second">
  <div class="ui container grid">
    <div class="row">
      <div class="center aligned column">
        <div class="ui medium images">
          <img class="ui bordered image" id="lowinger" src="/images/drewGreyscaleSample.png" data-image="/images/drewColorSample.png"/>

          <div class="ui modal team" id="lowinger-modal">
            <div class="ui basic padded segment">
              <div class="ui grid container">
                <div class="row">
                  <div class="right aligned column">
                    <span class="closeModal" data-modal="lowinger-modal">X</span>
                  </div>
                </div>
                <div class="two column center aligned row">
                  <div class="four wide column">
                    <img class="ui medium bordered image" src="/images/drewNoLabel.jpg">
                  </div>
                  <div class="eleven wide left aligned column">
                    <div class="ui left aligned large header"><span class="tealAqua">Michael Lowinger</span></div>
                    <div class="ui left aligned medium header"><span class="tealAqua">President / CEO</span></div>
                    <div class="ui left aligned medium header">
                      <i class="fa fa-linkedin " aria-hidden="true" style="margin-left:2px;"></i> &nbsp;&nbsp;
                      <i class="fa fa-envelope " aria-hidden="true"></i> &nbsp;&nbsp;
                      (310) 743 - 0080
                    </div>
                    <div class="ui hidden divider"></div>
                    <p>Mr. Lowinger was a founding partner of the Company when originally
                      formed in 1999. Lowinger was previously with Ares Management, a
                      fund management firm based in Los Angeles with approximately
                      $74 billion under management whose investors include numerous
                      public pension funds, foundations, and sovereign funds. Lowinger
                      became part of the Ares team when Wrightwood Capital was acquired
                      by Ares, and he was responsible for originating and structuring
                      preferred equity, mezzanine, and debt investments at both
                      organizations with primary responsibility for the firms’ west coast
                      operations.</p>
                    <p>Prior to his work at Wrightwood Capital, as outlined, Lowinger was
                      President and a founding partner of Hanover Financial Company, a
                      fund management firm founded in 1999 with George Marcus and
                      Mark Macedo, where he was responsible for directing Hanover’s
                      investment strategy, asset and fund management, and investor
                      relations. Hanover was acquired by Wrightwood Capital in 2008, at
                      which time the committed institutional funds were included in the
                      acquisition. From 1987 through 1999 Lowinger was an Executive
                      Vice President and Managing Director of Heller Financial, a subsidiary
                      of Fuji Bank, where he was responsible for overseeing debt and equity
                      investments and asset management activity in the Western United States.
                    </p>
                    <p>Lowinger is an active member of the Real Estate Principals Organization
                      (RPO) of the Jewish Federation of Greater Los Angeles. Mr. Lowinger
                      holds a Bachelor of Arts in Accounting and Finance from San Diego State
                      University and a Master’s degree in Business Administration from
                      Pepperdine University. Lowinger holds a California real estate broker’s
                      license.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <img class="ui bordered image" id="lowinger" src="/images/drewGreyscaleSample.png" data-image="/images/drewColorSample.png"/>
          <img class="ui bordered image" id="lowinger" src="/images/drewGreyscaleSample.png" data-image="/images/drewColorSample.png"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <div class="ui medium images">
          <img class="ui bordered image" id="lowinger" src="/images/drewGreyscaleSample.png" data-image="/images/drewColorSample.png"/>
          <img class="ui bordered image" id="lowinger" src="/images/drewGreyscaleSample.png" data-image="/images/drewColorSample.png"/>
          <img class="ui bordered image" id="lowinger" src="/images/drewGreyscaleSample.png" data-image="/images/drewColorSample.png"/>
        </div>
      </div>
    </div>
  </div>
</div>
