@media only screen and (max-width: 1150px) {
    .ui.right.secondary.menu {
        display: none !important;
    }

    .hanover-logo {
        margin-left: 40px;
    }

    .fa-bars {
        display: block !important;
        margin-right: 40px;
    }

    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead.segment {
        min-height: 350px;
    }
}

h1, h2, h3, h4, h5, h6, p {
    font-family: 'Lato', san-serif;
}

.secondary.menu .active {
    color: lightslategrey !important;
}

.secondary.menu .item:hover {
    color: lightslategrey !important;
}

.top.fixed.menu {
    height: 150px;
}

.menu img {
    padding-top: 10px;
    margin-left: -110px;
}

.right.menu .item {
    font-size: 1.2rem;
    color: #ffffff;
}

